<div class="jumbotron text-center">
  <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> World Machine</h1>
  <p class="lead">We specialise in building web sites</p>
  <p>Find me in app/views/welcome/home.html.erb</p>
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
  </form>
</div>