<h2>New Contact Request Received</h2>
<p>
  New contact request received from Worldmachine.ie.
</p>
<table>
  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @contact.name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @contact.email %></td>
    </tr>
    <tr>
      <th>Message</th>
      <td><%= @contact.message %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to 'View on worldmachine.ie', contact_url(@contact) %>
</p>