<h1>Welcome to World Machine Technology, <%= @contact.name %></h1>

<p>
  Thank you for getting in touch with World Machine Technology, your contact name is: <%= @contact.login %>.<br>
</p>

<p>
  To log back in, please follow this link: <%= @url %>
</p>
<p>
  Thank you for contacting us and do let us know if you have any questions.
</p>