<p id="notice"><%= notice %></p>

<h2>About Worldmachine Technology</h2>
<br>
<p>
  <% @abouts.each do |about|%>
    <%= about.text = 'about.txt' %>
  <% end %>
</p>
<br>

<%= link_to 'New About', new_about_path %>
