<footer class="container-fluid text-center bg-grey">
  <!--<a href="/welcome/index" id="myPage" title="Top of page"> -->
  <a href="#myPage" title="Top of page">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <div class="container">
    <p class="text-muted">&copy; World Machine Technology 2014<%= (" - " + (Time.now.gmtime.year).to_s) if (Time.now.gmtime.year > 2016) %></p>
  </div>
</footer>