<html>
  <head>
    <style>
      body {
        font-family: helvetica, sans-serif;
        color: #333;
        background-color: #F8F8F8;
      }
      table {
        text-align: left;
        vertical-align: top;
      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#myPage"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> World Machine</a>
        </div>
      </div>
    </nav>

    <%= yield %>
    <p>
      Best regards,
    </p>
    <p>
      World Machine Technology
    </p>
  </body>
</html>
