<html>
  <head>
    <style>
      body {
        font-family: helvetica, sans-serif;
        color: #333;
        background-color: #F8F8F8;
      }
      table {
        text-align: left;
        vertical-align: top;
      }
    </style>
  </head>
  <body>
    <%= yield %>
    <p>
      Regards,
    </p>
    <p>
      World Machine Technology
    </p>
  </body>
</html>
